---
layout: layouts/base.njk
eleventyNavigation:
  key: Recipies
  order: 3
---
<h1>Recipies</h1>

<ul>
{%- for recipie in collections.recipies -%}
  <li>{{ recipie.data.title }}</li>
{%- endfor -%}
</ul>
