---
layout: layouts/base.njk
eleventyImport:
  collections: ["recipies"]
eleventyNavigation:
  key: Recipies
  order: 3
---
# Recipies

<ul>
{%- for recipie in collections.recipies -%}
  <li>{{ recipie.data.title }}</li>
{%- endfor -%}
</ul>
